.jumbotron {
  background-image: url(https://mbtskoudsalg.com/images/food-png-7.png);
  background-color: rgba(10, 201, 144, .75);
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron h1 {
  position: absolute;
  top: 10%;
  text-align: center;
  left: 0%;
  right:32%;
  font-size: 87px;
  text-shadow: black 0.3em 0.3em 0.7em;
  color: white;
}

/* #ingredient-list {
  display: none;
} */

#ingredients {
  display: none;
  margin: 8px;
  padding: 8px;
}


#show-foods {
  display: none;
}

.live-search {
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.food-body{
  display: flex;
  margin: auto;
}

.list-group-item:hover {
  text-decoration: underline;
  color: rgba(10, 201, 144, .75);
  cursor: pointer;
}

.sidenav {
  height: auto;
  background-color: rgba(10, 201, 144, .5);
  padding-bottom: 0px;
  /* padding-top: 10px */
}

.FF-heading {
  text-align: center;
  padding: 15px

}

.box {
  background-color: rgba(10, 201, 144, .5);
}

#fav-dropdown {
  margin-top: 10px;
}

button {
  margin-bottom: 15px;
}

#hide-ingredients-text {
  display: none;
}

#show-ingredients-text {
  display: inline-block;
}

.addFood {
    background-color: rgba(10, 201, 144, .75);
    color: white;
}

.fav-heart {
    color: rgba(10, 201, 144, .75) !important;
    font-size: 35px;
    float: left;
    margin-right: 10px;
}

.delete-food {
  color: rgb(255, 0, 0) !important;
  font-size: 30px;
  float: left;
  margin-right: 10px;
  padding: 5px;
  margin-bottom: 18px;
  float: right;
}

.subSymbol {
  display:none
}

.nutrition-info {
  display: none;
}

.progress {
  margin-bottom: 10px;
}

#calories-prg {
  background-color: #67FFFD;
}

#carbs-prg {
  background-color: #92E887;
}

#protein-prg {
  background-color: #FFED73;
}

#fats-prg {
  background-color: #E8BA96;
}

#sodium-prg {
  background-color: #FF68A2;
}

.food-log {
text-align: center;
padding: 25px;
margin-bottom: 20px;
}

.fav-heart {
  color: red;
}

.search-hidden {
  display: none;
  top: 100%
  left: 0
}

footer {
  background-color: #e5e5e5;
  padding-top: 40px;
  margin-top: 30px;
}

.container {
  margin-bottom: 40px;
}
